@charset "utf-8";
/* CSS Document */
body{
	margin:0 auto;}
.div1{
	width:900px;
	height:500px;
	border:1px solid gray;
	margin:0 auto;}
.faceul{
	width:800px;
	height:400px;
	border:1px solid green;
	padding-left:0px;
	margin-left:5px;
	}
.faceul li{
	list-style-type:none;
	float:left;
	width:180px;
	height:100px;
	padding-top:8px;
	padding-left:8px;
	border:1px solid red;
	margin-right:5px;
	margin-left:5px;
	margin-top:5px;
	
	}
.faceul li img{
	width:160px;
	height:80px;
	}

